

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<form action="/Contact/Create" method="post">
    Name:<br>
    <input type="text" name="Name" required ><br>
    Email:<br>
    <input type="email" name="Email" required><br>
    Phone number:<br />
    <input id="demo-info-message"
           type="text"
           pattern="[+]?\d{11}|\d{9}"
           name="Phone"
           >
    <br><br>
    <input type="submit" value="Submit">
</form>