<h2>Create</h2>
<form action="/api/ContactApi" method="post">
    Name:<br>
    <input type="text" name="Name" ng-model="contact.Name" required><br>
    Email:<br>
    <input type="email" name="Email" ng-model="contact.Email" required><br>
    Phone:<br />
    <input id="demo-info-message"
           type="text"
           pattern="[+]?\d{11}|\d{9}"
           name="Telephone" ng-model="contact.Phone" required>
    <br>
    <br>
    <input type="button" ng-click="create(item)" value="Create">
</form>

