<h2>Edit</h2>
<form ng-controller="contactEditController as vm" ng-submit="vm.edit()">
    <input type="text" name="Id" ng-model="vm.contact.Id" value="{{vm.contact.Id}}" required hidden><br>
    Name:<br>
    <input type="text" name="Name" ng-model="vm.contact.Name" value="{{vm.contact.Name}}" required><br>
    Email:<br>
    <input type="email" name="Email" ng-model="vm.contact.Email" value="{{vm.contact.Email}}" required><br>
    Phone:<br />
    <input id="demo-info-message"
           type="text"
           pattern="[+]?\d{11}|\d{9}"
           name="Telephone" ng-model="vm.contact.Phone" 
           value="{{vm.contact.Phone}}"
           required>
    <br>
    <br>
    <input type="submit" value="Edit">
</form>