<h4>All Contacts by AngularJs 1.6.4</h4>
<table class="table" ng-controller="contactController as vm">
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Options</th>
    </tr>
    <tr ng-repeat="item in vm.contacts">
        <td hidden>{{item.Id}}</td>
        <td>{{item.Name}}</td>
        <td>{{item.Email}}</td>
        <td>{{item.Phone}}</td>
        <td>
            <a class="btn btn-default" href="/edit/{{item.Id}}">Edit</a>
            <button class="btn btn-danger" ng-click="deleteFunc(item)">Delete</button>
        </td>
    </tr>
</table>